
<div class=text-center>
  <div class="wrapper-home">
    <div class="logo-banner"> <%= image_tag "logo.png" %>
    </div>
  </div>
</div>

<div class="categories-home content-center">
  <div class="container">
    <div class="row">
      <div class="cat-card col-xs-12 col-sm-4"> man </div>
      <div class="cat-card col-xs-12 col-sm-4"> woman </div>
      <div class="cat-card col-xs-12 col-sm-4"> kids </div>
    </div>
  </div>
</div>

<div class="products">
  <h1 >featured products</h1>
  <p>collection of nice products</p>

  <div class="featured-products">
    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
        <ul class="product-card col-xs-12 col-sm-3 list-unstyled ">
          <h3> <%= product.name %> | <%= product.description %> </h3>
          <li>  <%= image_tag "http://unsplash.it/250/100" %></li>
          <li> € <%= product.price %></li>
          <li><a class="card-btn"><%= product.url %></a></li>
          <li> <%= link_to "show product", product_path(product) %></li>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</div>
